<style type="text/css">
#get_started_box, #users_get_started_box { display: none; }
</style>

{{#problem}}	
	{{#is_queued}}
		<p class="generic_alert">
			Your problem is queued up to run.<br>
		
			<a href="/problem/{{id}}/start" title="Start this Problem">Start this Problem</a>
		</p>
	{{/is_queued}}
	
	<h2>Problem: {{name}}</h2>
	<p class="problem_status">{{status}}</p>

	<h2>Map Function</h2>
	<p class="problem_fn"><pre>{{map_function}}</pre></p>

	<h2>Reduce Function</h2>
	<p class="problem_fn"><pre>{{reduce_function}}</pre></p>

	<h2>Initial Data</h2>
	<p class="problem_fn"><pre>{{initial_data}}</pre></p>

	<h2>Results</h2>
	<p class="problem_fn">
		{{#is_queued}}
			Your problem is queued up to run.<br>	
			<a href="/problem/{{id}}/start" title="Start this Problem">Start this Problem</a>
		{{/is_queued}}

		{{^is_queued}}
			<pre>{{results}}</pre>
		{{/is_queued}}
	</p>
{{/problem}}
