form(action="/problem", method="post")
  div.form-field
    label(for="problem_name") Problem Name
    input(name="problem_name", id="problem_name")

  div.form-field
    label(for="problem_name") Algorithm
    input(name="problem_name", id="problem_name")

  div.form-field
    label(for="problem_name") Problem Name
    input(name="problem_name", id="problem_name")
