<h1>We're MapRejuice, Distributed Computing for epic win.</h1>
<p>
	Every day, people across the world spend a couple million minutes watching videos, 
	posting articles, and sharing things with friends. This is great, but do you know how many 
	free CPU cycles are being wasted there? We think we can make good use of that.
</p>
	
<h2>Want to help us out?</h2>
<p>
	MapRejuice is only as good as the people who support it. If you have an online game or website
	that people spend a lot of time on, throwing our simple script on there could help solve a lot
	of problems, whether big or small.
</p>

<p>
	To get MapRejuice installed on your website, <a href="/" title="Install MapRejuice on your website">follow the handy instructions</a>.
</p>

<h2>Who's on our team?</h2>
<p>
	We're a crew of three people who are devoted to bringing about easier methods of solving complex problems. We believe that
	the internet is awesome sauce, and by harnessing the untapped cycles that go by every day, we can help power a little bit of 
	change somewhere.
</p>

<p>
	<a href="http://twitter.com/ryanmcgrath" title="Ryan on Twitter" target="_blank">Ryan McGrath</a> is a web designer, developer, author,
	editor, and jack of many more trades. Before working on such awesome things as MapRejuice, he lead the frontend development team
	at Webs.com.
</p>

<p>
	<a href="http://twitter.com/shiftb" title="Brandon on Twitter" target="_blank">Brandon Leonardo</a> is a web developer and entrepreneur wrapped
	up all in one package. He enjoys long walks on the beach, as well as the occasional cigar. <em>(Note: Brandon may not actually enjoy long walks on the beach.)</em>
</p>

<p>
	<a href="http://twitter.com/jonashuckestein" title="Jonas on Twitter" target="_blank">Jonas Huckestein</a> is a genius, and as such should write this himself or something.
</p>
