<h1>Need to get in touch with us?</h1>
<p>
	If you'd like to get in touch with us for any reason, you can do so on a per-contact basis via the information below.
</p>
	
<h2>Contact the Creators</h2>
<p>
	We're a crew of three people who are devoted to bringing about easier methods of solving complex problems. We believe that
	the internet is awesome sauce, and by harnessing the untapped cycles that go by every day, we can help power a little bit of 
	change somewhere.
</p>

<p>
	<a href="http://twitter.com/ryanmcgrath" title="Ryan on Twitter" target="_blank">Ryan McGrath on Twitter (@ryanmcgrath)</a>
</p>

<p>
	<a href="http://twitter.com/shiftb" title="Brandon on Twitter" target="_blank">Brandon Leonardo on Twitter (@shiftb)</a>
</p>

<p>
	<a href="http://twitter.com/jonashuckestein" title="Jonas on Twitter" target="_blank">Jonas Huckestein on Twitter (@jonashuckestein)</a> 
</p>
