h2(id="main_header") Put wasted time on the internet to good use.
p
  | Every day, people across the world spend a couple million minutes watching videos, posting articles, and sharing things with friends.
  | This is great, but did you know how many free CPU cycles are being wasted there? We think we can make good use of that.
p
  | We take complicated computing problems that normally require massive amounts of computing time and power, and distribute them across the idle
  | processors of the web. If you're a developer, all that we need you to do is put some code on your page - it runs in the background, and won't
  | mess with the user experience at all. We take great precautions to ensure that your provided experience remains the same, while still reaping the
  | benefits of a truly distributed computing system.

- for (var idx in problems)
  - var p = problems[idx]
  h2
    a(href="/problem/"+p.id)= p.name
    span= p.status

a(href="/problem") Start a new problem
