    <div style="height: 105px; width:524px;background: black url(/images/graph_example.png)">
    <canvas id="chartCanvas" width="524" height="105"></canvas>
    </div>
    <div style="background: black; margin-bottom: 20px; width: 518px; color: white; font-size: 10px; padding: 3px; text-align: right">A live graph of the number of jobs per minute</div>

	<h1>MapRejuice is Distributed Computing in a totally epic manner.</h1>
    <p><i>MapRejuice</i> is a <a href="http://en.wikipedia.org/wiki/MapReduce">MapReduce</a> implementation in Javascript that runs jobs in web browsers. What you see is a proof of concept implementation for the NodeJS Knockout competition. 
    </p>
	<p>
		Every day, people across the world spend a couple million minutes watching videos, 
		posting articles, and sharing things with friends. This is great, but do you know how many 
		free CPU cycles are being wasted there? We think we can make good use of that.
	</p>
	
	<h2>Put those unused internet cycles to work!</h2>
	<p>
		We take complicated computing problems that normally require massive amounts of 
		computing time and power, and distribute them across the idle processors of the web. 
		If you're a developer, all that we need you to do is put some code on your page - it runs 
		in the background, and won't mess with the user experience at all. We take great 
		precautions to ensure that your provided experience remains the same, while still reaping 
		the benefits of a truly distributed computing system.
	</p>
	
	<h2>Interested? Stay in touch!</h2>
    Let us know if you think this is interesting.
	<p>
<iframe src="https://spreadsheets.google.com/embeddedform?formkey=dGcwZkFUZ2dUeVRCd0ZoNHd4SHNHNVE6MQ" width="520" height="180" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
	</p>
