<!DOCTYPE html> 
<html> 
<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
    <title>MapRejuice - Distributed Computing at its finest</title>
	<link rel="stylesheet" type="text/css" href="/css/epic.css" media="screen">
	<script type="text/javascript" src="http://use.typekit.com/uxl8onc.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
	<script src="/js/core.js" type="text/javascript"></script>	
</head>
<body>
	<div id="header" class="container">
		<a href="/" id="logo" title="MapRejuice - Distributed Computing at its finest!">
			MapRejuice - Distributed Computing at its finest!
		</a>

		<div id="thank_god">
			Proudly computing thanks to 
			<a href="http://joyent.com/" title="Joyent - Thank god they haven't killed us yet ;D" id="joyent_badge">
				Joyent - Thank god they haven't killed us yet
			</a>
		</div>
	</div>

	<div id="wrapper" class="container">
		<div id="content">
			{{#locals}}
				{{{body}}}
			{{/locals}}
		</div>

		<div id="sidebar">
			<div id="users_get_started_box" class="sidebar_box">
				<h3>Wanna compute a big problem?</h3>
				<p>
					Help us, help you.  Submit your problem set to us, and we'll start computing it for you. 
				</p>
				<a href="/problem" title="Get Started with MapRejuice!" class="get_started_btn">Get Started with MapRejuice!</a>
			</div>
		
			<div id="get_started_box" class="sidebar_box">
				<h3>Developers and Publishers</h3>
				<p>
					Wanna help solve some of the most difficult
					problems in the world? If you have a
					website, you can participate in the
					MapRejuice project!
				</p>
				<a href="/code" title="Become a computer - Join the cause!" id="become_a_computer_btn">Help compute with MapRejuice</a>
			</div>


			<div id="currently_being_solved" class="sidebar_box">
				<dl id="solved_jobs">
					<dt>Current Jobs We're Solving</dt>
				</dl>
				<img src="/images/ajax-loader.gif" alt="Loading..." id="loading_jobs">
			</div>
		</div>
	
		<div class="sandbox">
		</div>
	</div>

	<div id="footer" class="container">
		<div id="copyright">
			Copyright &copy; the MapRejuice Team 2010. All rights reserved.<br>
			<a href="http://twitter.com/shiftb" title="Brandon Leonardo on Twitter" target="_blank">Brandon Leonardo</a> -
			<a href="http://twitter.com/jonashuckestein" title="Jonas Huckestein on Twitter" target="_blank">Jonas Huckestein</a> -
			<a href="http://twitter.com/ryanmcgrath" title="Ryan McGrath (the most awesome one) on Twitter" target="_blank">Ryan McGrath</a>
		</div>

		<ul id="footer_nav">
			<li><a href="/problem" title="Get Started with MapRejuice!">Get started with MapRejuice</a></li>
			<li><a href="/about/" title="About MapRejuice &amp; the Team">About Us</a></li>
			<li><a href="/contact/" title="Contact the MapRejuice Team">Contact Us</a></li>
		</ul>
	
		<div class="sandbox"></div>
	</div>

	<iframe src="http://maprejuice.com/compute" style="border: 0px; position: absolute; top: 0; left: 0; width: 1px; height: 1px; visibility: hidden;"></iframe>
</body>
</html>
