!!! 5
html
  head
    title DJ Script
    link(href="/css/styles.css", rel="stylesheet")
  body
    #container
      #header
        h1
          a(href="/") DJ Script
        -//span.tagline It's not folding@home, it's folding@Chrome
      #nav
        ul
          li
            a(href="/") Home
          li
            a(href="/") Problems
      #content
        != body
      #footer
        | by Brandon Leonardo, Jonas Huckestein, and Ryan McGrath
        a(href="http://nodeknockout.com/teams/anansi", target="nko", title="Help me win Node.js KO!")
          img(style="position: fixed; top: 5px; right: 5px; border: 0px;", src="http://nodeknockout.com/images/voteko.png", alt="Help me win Node.js KO!")

    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", type="text/javascript")
    script(src="/js/core.js", type="text/javascript")