html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, font, img, kbd, q, s, samp,
small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
:focus { outline: 0; }
body { line-height: 1; }
ol, ul { list-style: none; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

html {
    color: #333;
	font: normal 62.5%/1 helvetica, arial, sans-serif;
	padding: 0px;
	text-align: center;
    background: #333;
    border-top: 5px solid #010101;
}

body {
    width: 100px;
	margin: 17% auto 0;
    padding: 50px;
    font-size: 1.2em;
    line-height: 1.5em;
    background-color: #fff;
    position: relative;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 1px 1px 10px #010101; /* FF3.5+ */
    -webkit-box-shadow: 1px 1px 10px #010101; /* Saf3.0+, Chrome */
    box-shadow: 1px 1px 10px #010101; /* Opera 10.5, IE 9.0 */
}
