html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, font, img, kbd, q, s, samp,
small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
:focus { outline: 0; }
body { line-height: 1; }
ol, ul { list-style: none; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

html {
	text-align: center;
	background: #f9f9f9 url('../images/body.jpg') repeat-x top left;
	font: normal 62.5%/1 helvetica, arial, sans-serif;
	color: #333;
	padding: 0;
	margin: 0;
}

body {
}

#container {
	margin: 50px auto 20px;
	text-align: left;
	width: 1000px;
	padding: 0; 
	position: relative;
}

#nodekobtn {
	display: block;
	background: transparent url('http://nodeknockout.com/images/voteko.png') no-repeat top left;
	width: 126px;
	height: 63px;
	position: absolute;
	top: -66px;
	right: 0px;
}

#nodekobtn:hover { opacity: .9; }

#sidebar {
	width: 276px;
	float: left;
}

h1 { width: 276px; }

h1 a, h1 a:visited {
	display: block;
	width: 276px;
	height: 70px;
	margin-bottom: 10px;
	text-indent: -9000px;
	background: #fff url('../images/logo.png') no-repeat top left;
}

h1 a:hover { opacity: .9; }

#nav {
	width: 276px;
}

#get_started {
	background-color: #dfeaf4;
	border: 1px solid #c7d7e6;
}

#developers_developers_developers_developers {
	background-color: #e9e9e9;
	border: 1px solid #222;
}

#get_started, #developers_developers_developers_developers {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	margin: 0 0 10px 0;
	font-size: 12px;
}

#get_started dt {
	background-color: #3e558d;
	color: #fff;
}

#developers_developers_developers_developers dt {
	background-color: #333;
}

#get_started dt, #developers_developers_developers_developers dt {
	color: #fff;
	font-weight: bold;
	padding: 7px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
}

#get_started dd a, #get_started dd a:visited,
#developers_developers_developers_developers dd a, #developers_developers_developers_developers dd a:visited {
	display: block;
	width: 260px;
	padding: 7px;
	color: #3e558d;
	font-weight: bold;
	text-decoration: none;
}

#get_started dd a:hover, #developers_developers_developers_developers dd a:hover { background-color: #c9d8e5; }

.more-link, .more-link a:visited, .more-link:hover {
	-moz-border-radius-bottomleft: 2px;
	-moz-border-radius-bottomright: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
}

#content {
	width: 710px;
	float: right;
	margin-bottom: 20px;
}

#content p {
	font-size: 1.3em;
	line-height: 1.5em;
	margin-bottom: 15px;
}

#main_header {
	text-indent: -9000px;
	background: transparent url('../images/header_grabber.png') no-repeat top left;
	width: 439px;
	height: 35px;
	margin-left: -2px;
}

#footer {
	clear: both;
	background-color: #131313;
	color: #f9f9f9;
	font-size: 10px;
	padding: 10px 20px 11px;
	text-align: center;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

#footer a, #footer a:visited {
	text-decoration: none;
	color: #0aa3f4;
}

#footer a:hover {
	text-decoration: underline;
	color: #fff;
}

/** =FORM                                                         */
form { }
  form .form-field {
    clear: both;
    padding: 5px 0 20px;
    position: relative;
  }
  form .form-field .step {
    background: #999;
    color: #eee;
    float: left;
    font-size: 40px;
    height: 50px;
    line-height: 50px;
    margin-right: 30px;
    text-align: center;
    width: 50px;
    border-radius: 24px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
  }
  form .form-field.focused .step {
    background: #555;
  }
  form .form-field.focused .instructions {
    background: #efefef;
    border: 1px solid #999;
    float: right;
    font-size: 11px;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
  }
  form .form-field label {
    display: block;
  }
    form .form-field label span {
      float: right;
      color: #555;
      font-size: 12px;
    }
  form .form-field input[type="text"],
    form .form-field textarea {
    border: 1px solid #555;
    font-size: 13px;
    padding: 4px;
    width: 300px;
  }
  form .form-field.submit {
    background: #eee;
    padding: 10px 20px;
    text-align: right;
    width: 360px;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
  }
  form .form-field.submit input[type="submit"] {
    }
